@model IEnumerable<Oversii.Models.DB.property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_DashBoard.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.propertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parkingGL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permitPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permitExpiry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permitDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.permitPayByHOA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.targetVoilations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicPatrolTarget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.propertyManagerEditing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.historyTrackingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C24hrGracePeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.assignedParkingSpace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oversiiSendingLettersAndFines)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasPM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastUpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastUpdatedUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.property_management.propertyMgmtName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.propertyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @if (item.parkingGL != null)
            {
                <a href="~/Files/ParkingGL/@item.parkingGL" target="_blank">Open</a>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permitPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permitExpiry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permitDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permitPayByHOA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.targetVoilations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicPatrolTarget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.propertyManagerEditing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.historyTrackingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C24hrGracePeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assignedParkingSpace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oversiiSendingLettersAndFines)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasPM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastUpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastUpdatedUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.property_management.propertyMgmtName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.propID }) |
            @Html.ActionLink("Details", "Details", new { id = item.propID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.propID })
        </td>
    </tr>
}

</table>
